@using ContactUs.Models
@model IEnumerable<Ticket>

@{
    ViewBag.Title = "Browse";
}

<h2>Browse Tickets</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Last Act. Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td><code>@t.Id</code></td>
                <td>@t.Title</td>
                <td>@t.LastActivityDate</td>
                <td>@t.Status</td>
                <td>
                    @if (t.CanChangeTo(TicketStatus.Accepted))
                    {
                        <button class="btn btn-success btn-xs">Accept</button>
                    }
                    @if (t.CanChangeTo(TicketStatus.Rejected))
                    {
                        <button class="btn btn-danger btn-xs">Reject</button>
                    }
                    @if (t.CanChangeTo(TicketStatus.Closed))
                    {
                        <button class="btn btn-default btn-xs">Close</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>